@import url('https://fonts.googleapis.com/css2?family=Abel&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: Montserrat;
}

.intro-container {
    border: 2px solid blue;
    height: 350px;
    width: 95%;
    position: absolute;
    top: 36%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    align-items: center;
}

.left-half-intro {
    background-color: lightpink;
    width: 50%;
    height: auto;
    padding-left: 60px;
}

.greeting,
.about-name {
    font-size: 30px;
}

.name {
    font-size: 60px;
}




.header-container {
    border: 2px red solid;
    width: 95%;
    height: 100px;
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: space-between;

}

.left-header {
    height: 100px;
    width: 10%;
    background-color: red;
}

.middle-header {
    height: 100px;
    width: 32%;
    background-color: green;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
}

.right-header {
    height: 100px;
    width: 10%;
    background-color: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pic-icon {
    width: 22px;
    height: 22px;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    cursor: pointer;
  }
  
  .hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000000;
    transition: transform 0.25s ease-out;
  }
  
  .hover-underline-animation:hover::after {
    transform: scaleX(1);
  }

  .hover-underline-animation.center::after {
    transform-origin: bottom center;
  }
  
  .hover-underline-animation.center:hover::after {
    transform-origin: bottom center;
  }

  .hover-underline-animation:active {
    opacity: 0.3;
  }